{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="detail-2">
    <h1>GIVE FOR CHARITY!</h1>
    <aside class="give-img" id="sidebar">
        <img src="{% static 'images/charity.jpeg' %}" alt="Charity donations">
    </aside>
    <article class="give" id="main">
        <p>Ayomikun Adesola Abiola is based in Ilorin. She is a high-spirited individual who,
            as her name denotes, literally brings joy to the people around her.</p>
        <p>This year, on the occasion of her birthday, she is particular about giving back to
            society and would love to focus on less privileged women and children in Ilorin.
            She intends to give clothes and food items to at least 10 families with considerably
            very low income.</p>
        <p>Although, her birthday comes up on November 23rd, this campaign will end on December 15th.</p>
        <p>If you would love to give to support this project, please click any of the links below:</p>
        <button><a href="https://donate-ng.com/campaign/charity-donations-for-the-less-privilege">
            Nigerian Givers</a></button>
        &ensp; &ensp; &ensp;
        <button><a href="https://donate-ng.com/campaign/charity-donations-for-the-less-privilege">
            International Givers</a></button>
        </p>
    </article>
    <br>
</div>

{% endblock %}