{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<style>
    a:hover{
    text-decoration:none;
    color: #ff4b2b;
    }
    #listbtn:hover{
    color: #333;
    }
    .container #title h1{
    padding-bottom: 25px;
    }
</style>
<h1>WISH LIST</h1>
<div class="row">
{% for wish in wishes %}
        <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ wish.author }}</h5>
                    <p class="card-text">{{ wish.body | slice:':30' }}...</p>
                    <a href="{% url 'wish_detail' wish.pk %}" class="btn btn-primary" id="listbtn" style="background:#ff4b2b; text-decoration: none; border:none;">Read more</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}