{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="body-1">
    <div class="container-1">
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                <h2>Login</h2>
                <span>Only the celebrant can login to view view full details of wishes.
                    If you are the birthday damsel, please login to see your birthday wishes and reply.</span>
                {{ form.as_p }}
                <button type="submit" value="Login">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}